# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
PlantVillage/
CompleteDatabase/
*.jgep
*.jgp
*.JPG
*.JPEG
CompleteDatabase/*/*.JPG
# Ignore all JPG and JPEG files in CompleteDatabase and subdirectories
CompleteDatabase/**/*.jpg
CompleteDatabase/**/*.jpeg
CompleteDatabase/**/*.JPG
CompleteDatabase/**/*.JPEG