# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/PlantVillage/
PlantVillage/
CompleteDatabase/
*.jgep
*.jgp
*.JPG
*.JPEG


